html,
body {
  height: 100%;
}
.container {
  width: 100%;
  background: url('https://media-cldnry.s-nbcnews.com/image/upload/newscms/2020_51/3436724/201218-cyberpunk-al-1020.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  min-height: 100%;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #404040;
  width: 600px;
  height: 100vh;
  min-height: 100%;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  width: 200px;
  max-width: 200px;
  max-height: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.title {
  display: flex;
  justify-content: center;
}

h2 {
  color: #d4ffc7;
}

h3 {
  color: #d4ffc7;
}
