html,
body {
  height: 100%;
}
.container {
  width: 100%;
  background: url('../../assets/snip2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #404040;
  width: 35%;
  height: 100vh;
  min-height: 100%;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input {
  width: 200px;
  max-width: 200px;
  max-height: 20px;
  margin-top: 20px;
  margin-left: 10px;
}

.avatar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.title {
  display: flex;
  justify-content: center;
}

.labels {
  color: #d4ffc7;
}
