html,
body {
  height: 100%;
}
.container {
  height: 100%;
  width: 100%;
  background: url('../../../assets/cybergang1.jpg') no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
